<footer class="l-footer" role="contentinfo">
  <div class="wrapper">
  </div>

  <div class="top-flex">
    <a href="http://www.clir.org/">
      <%= image_tag('CLIR_logo.gif', :class=> 'logo__sponsor') %>
    </a>
    <a href="http://www.crl.edu/programs/larrp">
      <%= image_tag('larrp.gif', :class=> 'logo__sponsor') %>
    </a>
    <p><%= t('footer.acknowledgement_html', application_name: t('blacklight.application_name')) %></p>
  </div>
  <hr/>
  <div class="bottom-flex">
    <a href="http://www.princeton.edu">
      <%= image_tag('pu_logo_trans.png') %>
    </a>
    <a href="http://www.princeton.edu">
      <%= image_tag('dartmouth_logo.png') %>
    </a>
  <p>© <%= Date.current.year %> <%= t('footer.copyright_holder') %></p>
  </div>
</footer>
