<header role="banner">
  

  <nav id="header-navbar" class="navbar navbar-static-top" role="navigation">
    <div class="l-region l-region--branding container-fluid">
      <h2 class="site-logo">
        <%= link_to(root_path, class: "l-navbar-brand" ) do %>
          <%= image_tag("library_full_logo.svg", class: "logo-svg") %>
          <%= image_tag("library_full_logo.png", class: "logo-no-svg") %>
          <span class="site-title"><%= application_name %></span>
        <% end %>
      </h2>
    </div>

    <div class="l-region l-region--navigation container">
    </div>
  </nav>
  <nav id="menu-navigation" class="l-region--navigation navbar navbar-static-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="row"> 
        <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
        <div class="col-sm-8 col-sm-offset-2">
          <div class="collapse navbar-collapse" id="user-util-collapse">
            <%= render partial: '/user_util_links' %>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
          
      </div>
    </div>
  </nav>
  <nav id="search-navbar" class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="row">  
        <!-- <div class="col-sm-2 search--label">
          Search for
        </div> -->  
        <div class="col-sm-8 col-sm-offset-2">
          <%= render_search_bar  %>
        </div>
        <div class="col-sm-2">
          
        </div>
      </div>
    </div>
  </nav>
</header>
