<%= render 'shared/header_navbar' %>
<%= content_for :page_title, 'Home' %>
<section class="hero">
	<div class="wrapper">
		<div class="featured-block">
			<%= render 'featured_document' %>
	     	<div class="featured-text-block">
	     		<h1 class="visually-hidden">
            <%= t('blacklight.application_name') %>
	     		</h1>
	     		<div class="featured-text">
            <p><%= t('index.description_html', href: link_to(t('index.description_href'), "http://libguides.princeton.edu/laec")) %></p>
            <%= link_to "<button>#{t('index.browse')}</button>".html_safe, page_path('catalog', sort: 'date_modified desc', search_field:'all_fields') %>
            <%= link_to "<button>#{t('index.learn_more')}</button>".html_safe, 'about' %>
	     		</div>
	     	</div>	
		</div>
	</div>
</section>
<main class="front">
	<div class="wrapper">
    <h3><%= t('index.recent_additions') %></h3>
		<%= render 'recent_documents' %>
	</div>
</main>
