  <div class="wrapper">
    <h1><%= t('contact.heading') %></h1>
    <span class="req"><abbr title="required">*</abbr> <%= t('contact.form.instruction.required') %></span>
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal form-lae-contact' } do |f| %>

      <%= f.input :name, :required => true, label_html: { class: '' }, wrapper_html: { class: '' } %>
      <%= f.input :email, :required => true, label_html: { class: '' }, wrapper_html: { class: '' } %>
       
      <%= f.input :message, :as => :text, :required => true, label_html: { class: '' }, wrapper_html: { class: '' } %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div class="send-button">
        <%= f.button :submit, t('contact.form.submit'), :class=> "submit-button" %>
      </div>
    <% end %>
  </div>
