<% # container for a single doc in search results -%>
<div class="document row" itemscope itemtype="<%= document.itemtype %>">

  <% # inlined code from partial _index_header_default -%>
  <div class=" col-xs-12 col-sm-7 col-lg-9">
    <% counter = document_counter_with_offset(document_counter) %>
    <div class="row">
      <div class="col-sm-1 col-lg-1 document-counter">
        <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
      </div>
      <h5 class="col-sm-11 col-lg-11 index_title">
        <%= link_to_document document, document_show_link_field(document), :counter => counter %>
      </h5>
    </div>

    <% # inlined code from partial _index_default -%>
    <dl class="document-metadata dl-horizontal dl-invert">
    <% index_fields(document).each do |solr_fname, field| -%>
      <% if should_render_index_field? document, field %>
        <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %></dt>
        <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %></dd>
      <% end -%>
    <% end -%>
    </dl>
</div>

  <% # bookmark functions for items/docs -%>
  <%= render_index_doc_actions document, wrapping_class: "index-document-functions" %>
  <% # inlined code from partial _thumbnail_default -%>
  <%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {:height => '200', :width => '200'}, :counter => document_counter_with_offset(document_counter)) %>
  <div class="document-thumbnail col-xs-12 col-sm-5 col-lg-3">
    <%= tn %>
  </div>  
  <%- end %>

</div>
