<%# default partial to display solr document fields in catalog index view -%>
<dl class="card-stats">
  
  <% index_fields(document).each do |solr_fname, field| -%>
    <% if should_render_index_field? document, field %>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value document, :field => solr_fname %>
	    	<span><%= render_index_field_label document, :field => solr_fname %></span>
	    </dd>
	    <!-- <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label document, :field => solr_fname %>
	    </dt> -->
    <% end -%>
  <% end -%>

</dl>

<% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>