<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal dl-invert metadata">
  <% SolrDocumentMetadata.new(document).each do |entry| -%>
    <dt class="blacklight-<%= entry['label'].parameterize %>"><%= entry['label'] %>:</dt>
    <dd class="blacklight-<%= entry['label'].parameterize %>">
      <% if entry['value'].kind_of?(Array) %>
        <ul class="md_val_list">
          <% entry['value'].each do |value| -%>
            <li class="blacklight-<%= entry['label'].parameterize %>">
              <% if value.kind_of?(Hash) %>
                <%= facet_links_for_category_and_subject(value) %>
              <% elsif label_has_facet?(entry['label']) %>
                <a href="<%= facet_query_for_label_and_value(entry['label'],value) %>">
                  <%= value %>
                </a>
              <% else %>
                <%= value %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <% if label_has_facet?(entry['label']) %>
          <a href="<%= facet_query_for_label_and_value(entry['label'],entry['value']) %>">
            <%= entry['value'] %>
          </a>
        <% else %>
          <%= entry['value'] %>
        <% end %>
      <% end %>
    </dd>
  <% end -%>
</dl>
