<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="x-ua-compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <!--[if IEMobile]>
    <meta http-equiv="cleartype" content="on">
  <![endif]-->
  <title>Latin American Ephemera Digital Archive: <%= yield(:page_title) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
	<%= render 'shared/footer' %>
</body>
</html>
